body
{
    background-color:#071325;
    text-align:center;
}

/*Class that styles the login/signup text fields*/
.credentialsInputField{
    padding: 14px 20px;
    font-size:larger;
    font-family: Noto Sans, sans-serif;
    font-variant: small-caps;
    font-weight:500;
    background-color:#0a0726;
    color:#ffd300;
}

/* Class that centers horizontally and vertically the forms for user login and signup*/
.formVerticalHorizontalCenter{
    margin: 0px 0px;
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

input[type=submit]{
    
}